<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/user_registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>de</servlet-name>
    <servlet-class>LoginVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>de</servlet-name>
    <url-pattern>/loginpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cclient</servlet-name>
    <servlet-class>addclient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cclient</servlet-name>
    <url-pattern>/client</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ppclient</servlet-name>
    <servlet-class>FetchClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ppclient</servlet-name>
    <url-pattern>/clients</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pat</servlet-name>
    <servlet-class>addpartner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pat</servlet-name>
    <url-pattern>/addllpartnerform</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ke</servlet-name>
    <servlet-class>FetchPartner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ke</servlet-name>
    <url-pattern>/fetchpartners</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/saLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editbutton</servlet-name>
    <servlet-class>edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editbutton</servlet-name>
    <url-pattern>/edit?</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update</servlet-name>
    <servlet-class>updatepartner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/updatePartner</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewbutton</servlet-name>
    <servlet-class>view</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewbutton</servlet-name>
    <url-pattern>/view?</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletePart</servlet-name>
    <servlet-class>DeletePartners</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePart</servlet-name>
    <url-pattern>/deletePartner</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteClient</servlet-name>
    <servlet-class>DeleteClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteClient</servlet-name>
    <url-pattern>/deleteClients</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editcbutton</servlet-name>
    <servlet-class>editclient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editcbutton</servlet-name>
    <url-pattern>/editc?</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatec</servlet-name>
    <servlet-class>updateclient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatec</servlet-name>
    <url-pattern>/updateClient</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>